<div class="card mb-3">
  <h2 class="card-header h4">
    Answer #<%= answer.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Query</dt>
      <dd><%= answer.query_id %></dd>

      <dt>Text</dt>
      <dd><%= answer.text %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back answer, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_answer_url(answer), class: "btn btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to answer, method: :delete, data: { confirm: "Do you really want to delete this answer?" }, class: "btn btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(answer.updated_at) %> ago
  </div>
</div>
