<% was_validated = level.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>

<%= form_for(level, html: form_html_options) do |f| %>
  <div class="form-group">
    <% number_class = "form-control" %>
    <% number_was_invalid = level.errors.include?(:number) %>

    <% if was_validated %>
      <% if number_was_invalid %>
        <% number_class << " is-invalid" %>
      <% else %>
        <% number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :number %>

    <%= f.number_field :number, class: number_class, placeholder: "Enter number" %>
    <% if number_was_invalid %>
      <% level.errors.full_messages_for(:number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
