<% was_validated = query.errors.any? %>

<% form_html_options = { novalidate: true, class: "mb-3" } %>
<%= form_for(query, html: form_html_options) do |f| %>
  <div class="form-group">


    <%= f.hidden_field :level_id, value: @level.id%>

  </div>

  <div class="form-group">
    <% input_class = "form-control" %>
    <% input_was_invalid = query.errors.include?(:input) %>

    <% if was_validated %>
      <% if input_was_invalid %>
        <% input_class << " is-invalid" %>
      <% else %>
        <% input_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :input %>

    <%= f.text_field :input, class: input_class, placeholder: "Enter your query" %>
    <% if input_was_invalid %>
      <% query.errors.full_messages_for(:input).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
